{{> layout/header}}

<div class="wrapper">
    <div class="content">
        <div class="container p-5" style="width:500px">

            <!-- 탭 네비게이션 -->
            <ul class="nav nav-tabs" id="loginTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <a href="/login-form" class="nav-link active" id="member-tab" role="tab" aria-controls="member" aria-selected="true">일반 회원</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a href="/corp/login-form" class="nav-link" id="corp-tab" role="tab" aria-controls="corp" aria-selected="false">기업 회원</a>
                </li>
            </ul>

            <!-- 탭 콘텐츠 -->
            <div class="tab-content mt-3" id="loginTabContent">
                <div class="tab-pane fade show active" id="member" role="tabpanel" aria-labelledby="member-tab">
                    <form action="/member/login" method="post">
                        <div class="mb-3">
                            <input type="text" name="memberId" class="form-control" placeholder="아이디" >
                            {{#errors.memberId}}<div class="text-danger small">{{.}}</div>{{/errors.memberId}}
                        </div>
                        <div class="mb-3">
                            <input type="password" name="password" class="form-control" placeholder="비밀번호" >
                            {{#errors.password}}<div class="text-danger small">{{.}}</div>{{/errors.password}}
                            {{#isErrors}}<div class="text-danger">{{.}}</div>{{/isErrors}}
                        </div>
                        <button type="submit" class="btn btn-primary py-2 w-100">로그인</button>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>

{{> layout/footer}}