{{> layout/header}}

<div class="wrapper">
    <div class="content">
        <div class="container p-5" style="width:500px">

            <!-- 버튼 클릭시 바꾸는 기능 -->
            <ul class="nav nav-tabs" id="loginTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="btnUser" data-bs-toggle="tab" data-bs-target="#member" type="button"
                            role="tab" aria-controls="member" aria-selected="true">일반 회원
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <a href="/corp/sign-form" class="nav-link" id="btnCorp" type="button">기업 회원</a>
                </li>
            </ul>


            <!-- 일반 회원 가입 폼  -->
            <div id="formUser">
                <h3 id="titleUser" class="my-4 fw-bold text-center">일반 유저 회원 가입</h3>
                <form action="/member/sign" method="post">
                    <div class="mb-3">
                        <input type="text" class="form-control" name="username" placeholder="이름" >
                        {{#errors.username}}<div class="text-danger small">{{.}}</div>{{/errors.username}}
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" name="memberId" placeholder="아이디" >
                        {{#errors.memberId}}<div class="text-danger small">{{.}}</div>{{/errors.memberId}}
                    </div>
                    <div class="mb-3">
                        <input type="password" class="form-control" name="password" placeholder="비밀번호" >
                        {{#errors.password}}<div class="text-danger small">{{.}}</div>{{/errors.password}}
                    </div>
                    <div class="mb-3">
                        <input type="password" class="form-control" name="rePassword" placeholder="재 비밀번호" >
                        {{#errors.rePassword}}<div class="text-danger small">{{.}}</div>{{/errors.rePassword}}
                    </div>
                    <div class="mb-3">
                        <input type="email" class="form-control" name="email" placeholder="이메일) : example@naver.com" >
                        {{#errors.email}}<div class="text-danger small">{{.}}</div>{{/errors.email}}
                    </div>
                    <div class="mb-3">
                        <label for="phone1" class="form-label">전화 번호</label>
                        <div class="d-flex align-items-center gap-2">
                            <input type="text" class="form-control" id="phone1" name="phone1" maxlength="3" pattern="\d{3}"
                            >
                            <span>-</span>
                            <input type="text" class="form-control" id="phone2" name="phone2" maxlength="4" pattern="\d{4}"
                            >
                            <span>-</span>
                            <input type="text" class="form-control" id="phone3" name="phone3" maxlength="4" pattern="\d{4}"
                            >
                        </div>
                        {{#errors.phone1}}<div class="text-danger small">{{.}}</div>{{/errors.phone1}}
                        {{#errors.phone2}}<div class="text-danger small">{{.}}</div>{{/errors.phone2}}
                        {{#errors.phone3}}<div class="text-danger small">{{.}}</div>{{/errors.phone3}}
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" name="age" placeholder="나이 (숫자만 입력)" >
                        {{#errors.age}}<div class="text-danger small">{{.}}</div>{{/errors.age}}
                    </div>
                    <div class="mb-3">
                        <select class="form-select" name="sex" >
                            <option value="" disabled selected>성별을 선택하세요</option>
                            <option value="남자">남자</option>
                            <option value="여자">여자</option>
                        </select>
                        {{#errors.sex}}<div class="text-danger small">{{.}}</div>{{/errors.sex}}
                    </div>
                    <div class="mb-3">
                        <label for="address" class="form-label fw-bold">주소</label>
                        <div class="d-flex gap-2">
                            <input type="text" id="address" class="form-control" name="address" placeholder="주소" >
                            <button type="button" class="btn btn-outline-secondary" style="white-space: nowrap;"
                                    onclick="searchAddress()">주소 찾기
                            </button>
                        </div>
                        {{#errors.address}}<div class="text-danger small">{{.}}</div>{{/errors.address}}
                        <input type="text" id="addressDefault" name="addressDefault" class="form-control mt-2"
                               placeholder="기본 주소를 입력하세요">
                        {{#errors.addressDefault}}<div class="text-danger small">{{.}}</div>{{/errors.addressDefault}}
                        <input type="text" id="addressDetail" name="addressDetail" class="form-control mt-2"
                               placeholder="상세 주소를 입력하세요">
                        {{#errors.addressDetail}}<div class="text-danger small">{{.}}</div>{{/errors.addressDetail}}
                    </div>

                    <button type="submit" class="btn btn-primary py-2 w-100">회원가입</button>
                    <!-- 비밀번호 및 아이디 중복검사 -->
                    {{#errors.IsRePassword}}<div class="text-danger small">{{.}}</div>{{/errors.IsRePassword}}
                    {{#errors.IsMemberId}}<div class="text-danger small">{{.}}</div>{{/errors.IsMemberId}}
                </form>
            </div>

        </div>
    </div>
</div>


{{> layout/footer}}

<script>
    // 주소 찾기 (카카오 주소 API 예제)
    function searchAddress() {
        new daum.Postcode({
            oncomplete: function(data) {
                // 팝업을 통한 검색 결과 항목 클릭 시 실행
                var addr = ''; // 주소_결과값이 없을 경우 공백
                var extraAddr = ''; // 참고항목

                //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                if (data.userSelectedType === 'R') { // 도로명 주소를 선택
                    addr = data.roadAddress;
                } else { // 지번 주소를 선택
                    addr = data.jibunAddress;
                }

                if(data.userSelectedType === 'R'){
                    if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                        extraAddr += data.bname;
                    }
                    if(data.buildingName !== '' && data.apartment === 'Y'){
                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }
                    if(extraAddr !== ''){
                        extraAddr = ' (' + extraAddr + ')';
                    }
                } else {
                    document.getElementById("UserAdd1").value = '';
                }

                // 선택된 우편번호와 주소 정보를 input 박스에 넣는다.
                document.getElementById('address').value = data.zonecode;
                document.getElementById("addressDefault").value = addr;
                document.getElementById("addressDefault").value += extraAddr;
                document.getElementById("addressDetail").focus(); // 우편번호 + 주소 입력이 완료되었음으로 상세주소로 포커스 이동
            }
        }).open();
    }



    // 전화번호 숫자만 입력 가능 하게
    document.querySelectorAll('input[name^="phone"]').forEach(input => {
      input.addEventListener('input', () => {
        input.value = input.value.replace(/\D/g, ''); // 숫자 이외 제거
      });
    });

    // 전화번호 다음 입력 이후 다음 포커스로 넘어가기
    document.getElementById('phone1').addEventListener('input', function () {
      if (this.value.length === 3) document.getElementById('phone2').focus();
    });

    document.getElementById('phone2').addEventListener('input', function () {
      if (this.value.length === 4) document.getElementById('phone3').focus();
    });


  const ageInput = document.getElementById('ageInput');

  ageInput.addEventListener('input', function () {
    // 숫자가 아닌 문자 모두 제거
    this.value = this.value.replace(/[^0-9]/g, '');
  });
</script>