<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>마이페이지</title>
    <link rel="stylesheet" href="/mypage.css">
    <link rel="stylesheet" href="/comp/mypages.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"/>
</head>
<body>

<main class="mypages-container">
    <div class="mypages-wrapper">

        <div class="mypages-header">
            <h2>
                마이페이지
                <span class="icon-wrapper">
                <i class="fa-solid fa-bell"></i>
                <i class="fa-solid fa-heart"></i>
                <i class="fa-solid fa-gear"></i>
            </span>
            </h2>
            {{^loggedInUser}}
                <p>환영합니다</p>
                <a href="/login-form" class="login-link">로그인/회원가입</a>
            {{/loggedInUser}}
        </div>

        <ul class="mypage-menu">
        {{#loggedInUser}}
            {{#menuList}}
                <li class="menu-item">
                    <a href="{{link}}">
                        <span class="menu-text">{{text}}</span>
                        <span class="arrow-icon">&gt;</span>
                    </a>
                </li>
            {{/menuList}}
        {{/loggedInUser}}
        </ul>

    </div>
</main>
</body>
</html>

