{{> layout/header}}
{{#recruit}}
<div class="wrapper">
    <div class="content">
        <div class="container" style="max-width:1200px">
            <form action="/recruit/{{recruitIdx}}/recruit-update" method="post">
                <div class="container mt-4" style="width:1200px">
                    <h2>[채용 공고 수정]</h2>
                    <hr>
                    <!-- 제목 -->
                    <div class="mb-3">
                        <label for="recruit_title" class="form-label">채용 제목</label>
                        <input type="text" class="form-control" id="recruit_title" name="recruitTitle" value="{{recruitTitle}}" required>
                    </div>

                    <!-- 지역 -->
                    <div class="mb-3">
                        <label for="area" class="form-label">근무 지역</label>
                        <select class="form-select" id="area" name="area" required>
                            <option value="{{area}}" selected>{{area}}</option>
                            <option value="서울특별시">서울특별시</option>
                            <option value="부산광역시">부산광역시</option>
                            <option value="대구광역시">대구광역시</option>
                            <option value="인천광역시">인천광역시</option>
                            <option value="광주광역시">광주광역시</option>
                            <option value="대전광역시">대전광역시</option>
                            <option value="울산광역시">울산광역시</option>
                            <option value="세종특별자치시">세종특별자치시</option>
                            <option value="경기도">경기도</option>
                            <option value="강원도">강원도</option>
                            <option value="충청북도">충청북도</option>
                            <option value="충청남도">충청남도</option>
                            <option value="전라북도">전라북도</option>
                            <option value="전라남도">전라남도</option>
                            <option value="경상북도">경상북도</option>
                            <option value="경상남도">경상남도</option>
                            <option value="제주특별자치도">제주특별자치도</option>
                        </select>
                    </div>

                    <!-- 모집 인원 -->
                    <div class="row mb-3">
                        <!-- 최종 학력 -->
                        <div class="col-md-3">
                            <label for="education" class="form-label">최종 학력</label>
                            <select class="form-select" id="education" name="education" required>
                                <option value="{{education}}" selected>{{education}}</option>
                                <option value="검정고시">검정고시</option>
                                <option value="고졸">고졸</option>
                                <option value="대졸">대졸</option>
                            </select>
                        </div>

                        <!-- 모집 인원 -->
                        <div class="col-md-3">
                            <label for="recruit_number" class="form-label">모집 인원</label>
                            <input type="number" class="form-control" value="{{recruitNumber}}" id="recruit_number" name="recruitNumber" min="1" required>
                        </div>

                        <!-- 경력 선택 -->
                        <div class="col-md-3">
                            <label for="career" class="form-label">경력 선택</label>
                            <select class="form-select" id="career" name="career" required>
                                <option value="{{career}}" selected>{{career}}</option>
                                <option value="신입">신입</option>
                                <option value="1년">1년</option>
                                <option value="2년">2년</option>
                                <option value="3년">3년</option>
                                <option value="4년">4년</option>
                                <option value="5년">5년</option>
                                <option value="6년">6년</option>
                                <option value="7년">7년</option>
                                <option value="8년">8년</option>
                                <option value="9년">9년</option>
                                <option value="10년">10년</option>
                            </select>
                        </div>

                        <!-- 근무 형태 -->
                        <div class="col-md-3">
                            <label for="work_type" class="form-label">근무 형태</label>
                            <select class="form-select" id="work_type" name="workType" required>
                                <option value="{{workType}}" selected>{{workType}}</option>
                                <option value="계약직">계약직</option>
                                <option value="정규직">정규직</option>
                            </select>
                        </div>
                    </div>

                    <!-- 내용 -->
                    <div class="mb-3">
                        <label for="recruit_content" class="form-label">채용 상세 내용</label>
                        <textarea class="form-control" id="recruit_content" name="recruitContent" rows="5" required>
                            {{recruitContent}}
                        </textarea>
                    </div>

                    <div class="d-flex gap-2">
                        <!-- 시작일 -->
                        <div class="mb-3 w-100">
                            <label for="start_at" class="form-label">시작일</label>
                            <input type="text" class="form-control" id="start_at" name="startAt" value="{{startAtFormatted}}" placeholder="시작일 선택" required readonly>
                        </div>

                        <!-- 마감일 -->
                        <div class="mb-3 w-100">
                            <label for="end_at" class="form-label">마감일</label>
                            <input type="text" class="form-control" id="end_at" name="endAt" value="{{endAtFormatted}}" placeholder="마감일 선택" required readonly>
                        </div>
                    </div>

                    <!-- 제출 버튼 -->
                    <button type="submit" class="btn btn-primary">등록하기</button>
                </div>
            </form>
        </div>
    </div>
</div>
{{/recruit}}
{{> layout/footer}}

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const today = new Date().toISOString().split('T')[0];

        const startPicker = flatpickr("#start_at", {
            dateFormat: "Y-m-d",
            minDate: today,
            onChange: function (selectedDates) {
                endPicker.set("minDate", selectedDates[0]);
            }
        });

        const endPicker = flatpickr("#end_at", {
            dateFormat: "Y-m-d",
            minDate: today,
            onChange: function (selectedDates) {
                startPicker.set("maxDate", selectedDates[0]);
            }
        });
    });
</script>
