{{> layout/header}}

<div class="wrapper">
    <div class="content">
        <div class="container 4">
            <div>
                팀원에대해 소개해드립니다
                팀장
                조정우
                팀원
                유류진
                팀원
                조충희
                팀원
                조현진
            </div>
        </div>
    </div>
</div>

{{> layout/footer}}