{{> layout/header}}

<div class="wrapper">
    <div class="content">
        <div class="container p-5" style="width:500px">

            <!-- 버튼 클릭시 바꾸는 기능 -->
            <ul class="nav nav-tabs" id="loginTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <a href="/sign-form" class="nav-link" id="btnUser" type="button">일반 회원</a>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="btnCorp" data-bs-toggle="tab" data-bs-target="#member" type="button"
                            role="tab" aria-controls="member" aria-selected="true">기업 회원
                    </button>
                </li>
            </ul>



            <!-- 기업 회원 가입 폼  -->
            <div id="formCorp" >
                <h3 id="titleCorp" class="my-4 fw-bold text-center">기업 회원가입</h3>
                <form action="/corp/corp-sign" method="post">
                    <div class="mb-3">
                        <input type="text" class="form-control" name="corpName" placeholder="기업명" >
                        {{#errors.corpName}}<div class="text-danger small">{{.}}</div>{{/errors.corpName}}
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" name="corpId" placeholder="아이디" >
                        {{#errors.corpId}}<div class="text-danger small">{{.}}</div>{{/errors.corpId}}
                    </div>
                    <div class="mb-3">
                        <input type="password" class="form-control" name="password" placeholder="비밀번호" >
                        {{#errors.password}}<div class="text-danger small">{{.}}</div>{{/errors.password}}
                    </div>
                    <div class="mb-3">
                        <input type="password" class="form-control" name="rePassword" placeholder="비밀번호 확인" >
                        {{#errors.rePassword}}<div class="text-danger small">{{.}}</div>{{/errors.rePassword}}
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" name="email" placeholder="이메일" >
                        {{#errors.email}}<div class="text-danger small">{{.}}</div>{{/errors.email}}
                    </div>
                    <button type="submit" class="btn btn-primary py-2 w-100">회원가입</button>
                    <!-- 비밀번호 및 아이디 중복검사 -->
                    {{#errors.IsRePassword}}<div class="text-danger small">{{.}}</div>{{/errors.IsRePassword}}
                    {{#errors.IsCorpId}}<div class="text-danger small">{{.}}</div>{{/errors.IsCorpId}}
                </form>
            </div>
        </div>
    </div>
</div>


{{> layout/footer}}

<script>
    // 주소 찾기 (카카오 주소 API 예제)
    function searchAddress() {
        new daum.Postcode({
            oncomplete: function(data) {
                // 팝업을 통한 검색 결과 항목 클릭 시 실행
                var addr = ''; // 주소_결과값이 없을 경우 공백
                var extraAddr = ''; // 참고항목

                //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                if (data.userSelectedType === 'R') { // 도로명 주소를 선택
                    addr = data.roadAddress;
                } else { // 지번 주소를 선택
                    addr = data.jibunAddress;
                }

                if(data.userSelectedType === 'R'){
                    if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                        extraAddr += data.bname;
                    }
                    if(data.buildingName !== '' && data.apartment === 'Y'){
                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }
                    if(extraAddr !== ''){
                        extraAddr = ' (' + extraAddr + ')';
                    }
                } else {
                    document.getElementById("UserAdd1").value = '';
                }

                // 선택된 우편번호와 주소 정보를 input 박스에 넣는다.
                document.getElementById('address').value = data.zonecode;
                document.getElementById("addressDefault").value = addr;
                document.getElementById("addressDefault").value += extraAddr;
                document.getElementById("addressDetail").focus(); // 우편번호 + 주소 입력이 완료되었음으로 상세주소로 포커스 이동
            }
        }).open();
    }
</script>